<nav class="panel bottom lastSlideOnly">
    <div class="sections desktop">
        <div class="left">
            <div class="center">
                <svg class="middle" style="width:30px;height:30px">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
                </svg>
                <p class="app-logo crop margin-left-1 inlineBlock middle small bold">App Name</p>
            </div>
        </div>
        <div class="center">
            <ul class="menu uppercase">
                <li><a href="#">Features</a></li>
                <li>/</li>
                <li><a href="#">Reviews</a></li>
                <li>/</li>
                <li><a href="#">Blog</a></li>
                <li>/</li>
                <li><a href="#">Support</a></li>
            </ul>
        </div>
        <div class="right">
            <div class="center">
                <ul class="menu crop fromBottom">
                    <li><a class="margin-right-0 padding-0" href="http://twitter.com/designmodo" target="_blank"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
                    <li><a class="margin-right-0 padding-0" href="http://instagram.com/designmodo" target="_blank"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use></svg></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sections compact hidden">
        <div class="left">
            <a href="#" title="Slides Framework"><svg style="width:82px;height:24px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a>
        </div>
        <div class="right">
            <span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span>
        </div>
    </div>
</nav>


include svg_libraries

</body>
</html>