-
    //- Variables PUG/JS Locales - NIVEL 2
    const dir = '../';

include ../../includes/_head

<h1>Category Page 1</h1>






//- Script JavaScript Zone
script
    include ../../scripts/console.js


include ../../includes/_footer