-
    //- Variables PUG/JS Locales - NIVEL 1
    const dir = '';

include ../includes/head

<h1>Homepage</h1>



//- Script JavaScript Zone
script
    include ../scripts/console.js

include ../includes/footer

